
body{
  background-color:bisque;
  border-style: dashed;
  font-family:cursive;
  margin: 15px;
  padding:10px ;
}
.general{
  box-shadow:2px 4px 10px 4px blue;
  
}
#list{
  background-color:thistle;
  width:50%;
  height:300px;
  overflow:auto;
  margin:40px 50px 10px 250px;
  border:3px ridge skyblue;
  padding:10px;
}
#mohammad {
  float:right;
  border:2px groove red;
}
.degree{ 
  border:4px ridge forestgreen ;
}
